{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<b> {{error}} </b>

<br/>
<br/>
<div class="container mt-5">
    <div class="row text-center">
        <div class="col-md-6 offset-md-3">
    
            <form method="POST" action="{% url 'login' %}">

                {% csrf_token %} 
                
                <img src="{% static 'logo.png' %}" class="mb-4" height=72 width=72>
                <h1 class="h3 mb-3 font-weight-normal">Please log in</h1>

                <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>

                <input type="password" name="password" class="form-control"  placeholder="Password" required>

                <br />
                <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>

            </form>
        </div>
    
    </div>
    
</div>

{% endblock %}