{% extends 'base.html' %}

{% block content %}

<br />
<br />

<div class="row">

    <div class="col-md-2">

        <img width=100 height=100 src="{{ product.icon.url }}" class="img-fluid"/>

    </div>

    <div class="col-md-10">

        <a  href="{{product.url}}"><h1> {{ product.title }}</h1 ></a>

    </div>

</div>

<br/>

<div class="row">

    <div class="col-md-8">

        <img src="{{ product.image.url }}" class="img-fluid"/>

    </div>

    <div class="col-md-4">

        <a href="javascript:{document.getElementById('upvote').submit()}" style="text-decoration: none"><button class="btn btn-primary btn-large btn-block"><i class="fa fa-angle-up"></i> Upvote {{ product.votes_total }}</button></a>

    </div>

</div>

<br/>

<div class="row">

    <div class="col-md-4">

        <h4>Hunted by {{ product.hunter.username }}</h4>

    </div>

    <div class="col-md-4">

        <h4 class="text-muted text-right"><i class="fa fa-calendar"></i> {{ product.pub_date_pretty }}</h4>

    </div>

</div>

<div class="row">

    <div class="col-md-8">

        <p style="text-align:justify">{{ product.body }}</p>

    </div>

</div>

<form id="upvote" method="POST" action="{% url 'upvote' product.id %}">
    {% csrf_token %}
    
    <input type="hidden">

</form>

    


    


{% endblock %}